@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: rgb(118, 111, 108);
    text-align: center;
    padding-top: 50px;
    font-family: sans-serif;
}

nav {
    display: flex;
    background-color: var(--footer-bg-color);
    transition: background-color 0.3s;
    padding: 5px 25px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: white;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    justify-content: space-between;
    align-items: center;
}

h2 {
    color: red;
}

h3 {
    color: rgba(255, 111, 0, 0.425);
}

p {
    color: rgb(0, 94, 128);
    line-height: 1.5;
    margin: 20px auto 0;
    max-width: 700px;
}

img#prin {
    width: 60%;
    border: solid 5px black;
    border-radius: 50%;
}

img#prin:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 20px 20px rgba(255, 255, 255, 0.5);
    transition: transform 0.6s ease-in-out, box-shadow 0.6s ease-in-out;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

#google {
    background-color: blueviolet;
    color: white;
    padding: 10px 12px;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    display: inline-block;
    text-transform: capitalize;
}

#google:hover {
    background-color: rgb(221, 30, 30);
    color: white;
    transform: scale(1.1);
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.facebook {
    display: inline-block;
    color: rgba(8, 102, 255, 255);
    background-color: rgba(8, 102, 255, 255);
    height: 40px;
    text-decoration: none;
    border-radius: 25px;
    padding: 6px;
    margin: 0 10px;
    transition: border-color 0.3s, color 0.3s, transform 0.3s;
}

.facebook:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    background-image: url(/assets/img/Facebook2.png);
    background-size: cover
}

.facebook:hover img {
    visibility: hidden;
}

.site {
    border-radius: 25px;
}

.site:hover {
    transform: scale(1.1);
    background-color: rgba(214, 5, 34, 255);
    transition: transform 0.3s ease-in-out;
}

.instagram {
    background-clip: content-box;
    background: rgba(255, 255, 255, 0.2);
    padding: 12px;
    border-radius: 25px;

}


.instagram:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    background-image: url(/assets/img/Instagram3.png);
    background-size: contain;
}

.instagram:hover img {
    visibility: hidden;
}

.maps {
    border-radius: 25px;
    padding: 8px 12px 4px;
}

.maps:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    background-image: url(/assets/img/maps1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.maps:hover img {
    visibility: hidden;
}


footer {
    padding: 1px;
    color: white;
    border-radius: 5px;
    justify-content: center;
}

footer ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 10px;
}

footer a {
    display: flex;
    justify-content: center;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    padding: 6px;
    margin: 0 10px;
    background: rgba(255, 255, 255, 0.2);
    transition: border-color 0.3s, color 0.3s, transform 0.3s;
}

footer button {
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0);
    transition: border-color 0.3s, color 0.3s, transform 0.3s;
}

footer button:hover a {
    color: black;
    background-color: white;
    transform: scale(1.1);
}

#home-button {
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}